* {
    margin: 0;
    padding: 0;
    color:white;
}

body{
    background-color: black;
    /* background-image: url("assets/img/background.jpg"); 
     background-size: cover;
    background-position: top;
    backdrop-filter: brightness(0.2); */
}
.main {
    height: 100vh;
    width: 40vw;
    margin: 2rem auto;
    text-align: center;
    /* background-color: rgb(182, 38, 59); */
}

.main>h3 {
    margin-top: 2rem;
}

.main > h3 > button {
    font-size: 2rem;
    background-color: rgb(110, 16, 175);
    color: white;
    width: 3rem ;
}

.main > h3 > button:hover {
    background-color: rgb(190, 139, 238);
}

.gameBoard {
    height: 50vh;
    width: 30vw;
    margin: 2rem auto;
    display: grid;
    grid-template-rows: repeat(3, 100px) ;
    grid-template-columns:repeat(3, 100px);
    justify-content: center;
    /* border: 2px solid rgb(133, 53, 120); */
    border-radius: 20px;
    cursor: pointer;
}

.cells {
    font-size: 3rem;
    padding: 1.6rem;
    border-right: 4px solid rgb(110, 16, 175);
    border-bottom: 4px solid rgb(110, 16, 175);
    color : white;
}


.cells:nth-child(3n + 3) {
    border-right: none;
}

.cells:nth-child(7n),
.cells:nth-child(8n),
.cells:nth-child(9n) {
    border-bottom: none;
}

.main > button {
    height: 4rem;
    width: 15rem;
    border-radius: 20px;
    font-size: 25px;
    padding: 1rem;
    margin-top: 1rem;
    color: black;
}